<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
<script src="{{ url_for('static', filename='WON5_tema21_4.js') }}"></script>
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<body>
<header class="head">
    <div class="div_head">Magic Install</div>
    <div class="div_head_2">Instalatii apa si gaz de la prieteni</div>
</header>
    <form action="target_page" method="post" id="sign_in_form" onsubmit="return validation()">
      <table class="center">
        <tr>
            <th> <div id="header" >Formular de contact</div></th>
        </tr>
        <tr>
            <td>
               <input type="text" id="name" placeholder="Nume" />
            </td>
        </tr>
        <tr><td> <div> </div></td></tr>
        <tr>
            <td>
               <input type="email" id="email" placeholder="E-mail" />
            </td>
        </tr>
        <tr><td> <div> </div></td></tr>
        <tr>
            <td>
                <textarea id="text" placeholder="Mesajul tau aici..." ></textarea>
            </td>
        </tr>
        <tr>
            <td> <div> </div></td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" name="therm" id="check"><label> Accept termenii si conditiile</label><br>
            </td>
        </tr>
        <tr>
            <td> <div> </div></td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="valid" value="Create account"/>
            </td>
        </tr>
      </table>
  </form>
<footer id="footer">
    <p class="text">Adresa e-mail: magicinstall@megicinstall.ro</p>
    <p class="text">Adresa: str. Oasului 22 Cluj Napoca</p>
    <p class="text">Persoana de contact: Paul Pop</p>
</footer>
</body>
</html>