{% extends "layout.html" %}
{% block content %}
<body>
    <form action="target_page" method="post" id="sign_in_form" onsubmit="return validation()">
      <table class="center">
        <tr>
            <th> <div id="header" >Formular de contact</div></th>
        </tr>
        <tr>
            <td>
               <input type="text" id="name" placeholder="Username" />
            </td>
        </tr>
        <tr><td> <div id="answer_user" class="color-red"> </div></td></tr>
        <tr>
            <td>
               <input type="email" id="email" placeholder="E-mail" />
            </td>
        </tr>
        <tr><td> <div id="answer_email" class="color-red"> </div></td></tr>
        <tr>
            <td>
                <textarea id="text" placeholder="Your message here..." ></textarea>
            </td>
        </tr>
        <tr>
            <td> <div id="answer_text" class="color-red"> </div></td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" name="therm" id="check"><label> Accept termenii si conditiile</label><br>
            </td>
        </tr>
        <tr>
            <td> <div id="answer_check"> </div></td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="valid" value="Create account"/>
            </td>
        </tr>
      </table>
  </form>
</body>
{% endblock content %}
