<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<body>
    <table class="base">
        <tr>
            <td class="td_pic">
                <img src="{{ url_for('static', filename='uc.png') }}" height="300" alt="Under construction">
            </td>
            <td>
                <div class="title">Coming soon</div>
                <div class="loader"></div>
            </td>
            <td class="td_pic">
                <img src="{{ url_for('static', filename='uc.png') }}" height="300" alt="Under construction">
            </td>
        </tr>
    </table>
</body>
</html>