{% extends "layout.html" %}

{% block title %}
    Elevii clasei {{ cl_name }}
{% endblock %}

{% block content %}
    <div id="subtitle">Elevii clasei {{ cl_name }}</div>
        {% if cl %}
            <table id="stud">
                <tr>
                    <th>Nume</th>
                </tr>
                {% for s in cl %}
                    <tr>
                        <td>{{s['lname']}} {{s['fname']}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div id="inex">Clasa inexistenta</div>
        {% endif %}
    <hr>
    <a href="/students/">Lista elevi</a>
{% endblock %}