{% extends "layout.html" %}

{% block title %}
    Students
{% endblock %}

{% block content %}
    <div id="subtitle">Lista elevi</div>
    <table>
        <tr>
            <th>Nume</th><th>Clasa</th>
        </tr>
        {% for sid in students %}
            <tr>
                <td><a href="/students/{{sid}}/">{{students[sid]['lname']}} {{students[sid]['fname']}}</a></td><td>{{students[sid]['class']}}</td>
            </tr>
        {% endfor %}
    </table>
    <hr>
    <input type="text" placeholder="Search">
    <input type="submit" name="Submit">
{% endblock %}