{% extends "layout.html" %}

{% block title %}KBR Suppliers{% endblock %}

{% block content %}
<style>
    .vertical-nav ul a.menu_supplier {
        background-color: blue;
        color: white;
    }
</style>
    <div id="database_div">
        <table id="database_table">
            <tr>
                <th>Nume furnizor</th><th>Adresa furnizor</th><th>E-mail furnizor</th><th>Telefon furnizor</th>
            </tr>
            {% for i in supplier %}
                    <tr>
                        <td>{{i[0]}}</td><td>{{i[1]}}</td><td>{{i[2]}}</td><td>{{i[3]}}</td>
                        <td><button class="foot_but3" onclick="window.location.href='/furnizori/edit/{{i[4]}}/'">Modifica</button></td>
                    </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}

{% block footer %}
<form class="fo" action="/furnizori/search/" method="POST">
    {% if search %}
    <input class="sh" type="text" name="search" placeholder={{search}}>
    {% else %}
    <input class="sh" type="text" name="search" placeholder="Search">
    {% endif %}
    <input class="foot_but" type="submit" name="search" value="Cauta">
</form>
    <button class="foot_but" onclick="window.location.href='/furnizori/new/'">Nou</button>
{% endblock %}