{% extends "layout.html" %}

{% block title %}KBR Supplier{% endblock %}

{% block content %}
<style>
    .vertical-nav ul a.menu_supplier {
        background-color: blue;
        color: white;
    }
</style>
    <div id="database_div">
        {% if supplier %}
        <table id="database_table2">
                <tr>
                    <th>Nume furnizor</th><td><input type="text" class="edit" name="supplier" value="{{supplier[0]}}" disabled></td>
                </tr>
                <tr>
                    <th>Adresa furnizor</th><td><input type="text" class="edit" name="address" value="{{supplier[1]}}" disabled></td>
                </tr>
                <tr>
                    <th>E-mail furnizor</th><td><input type="text" class="edit" name="email_address" value="{{supplier[2]}}" disabled></td>
                </tr>
                <tr>
                    <th>Telefon furnizor</th><td><input type="text" class="edit" name="phone" value="{{supplier[3]}}" disabled></td>
                </tr>
                <tr>
                    <td><button class="foot_but2" onclick="window.location.href='/furnizori/'">Inapoi la furnizori</button></td>
                </tr>
                <tr>
                    <td><input type="hidden" class="edit" name="id" value="{{supplier[4]}}"></td>
                </tr>
            </table>
        {% else %}
            <form class="fo" action="/furnizori/new/save/" method="post" id="supp_form" name="supp_form" onsubmit="return validation()">
            <table id="database_table">
                <tr>
                    <th>Nume furnizor</th><td><input type="text" class="edit" name="supplier" placeholder="Nume furnizor" id="supplier"></td>
                    <td><div id="answer_supplier" class="color-red"></div></td>
                </tr>
                <tr>
                    <th>Adresa furnizor</th><td><input type="text" class="edit" name="address" placeholder="Adresa furnizor" id="address"></td>
                    <td><div id="answer_address" class="color-red"></div></td>
                </tr>
                <tr>
                    <th>E-mail furnizor</th><td><input type="text" class="edit" name="email_address" placeholder="E-mail furnizor" id="email"></td>
                    <td><div id="answer_email" class="color-red"></div></td>
                </tr>
                <tr>
                    <th>Telefon furnizor</th><td><input type="text" class="edit" name="phone" placeholder="Telefon furnizor" id="phone"></td>
                    <td><div id="answer_phone" class="color-red"></div></td>
                </tr>
                <tr>
                    <td><button type="button" class="foot_but2" onclick="window.location.href='/furnizori/'">Inapoi la furnizori</button></td>
                    <td><button type="reset" class="foot_but">Reseteaza</button><button type="submit" class="foot_but">Salveaza</button></td>
                </tr>
            </table>
                <script src="{{ url_for('static', filename='valid.js') }}"></script>
        </form>
        {% endif %}
    </div>

{% endblock %}

{% block footer %}
{% endblock %}