{% extends "layout.html" %}

{% block title %}KBR Accessories{% endblock %}

{% block content %}
<style>
    .vertical-nav ul a.menu_accessories {
        background-color: blue;
        color: white;
    }
</style>
    <div id="database_div">
        {% if accessory %}
        <table id="database_table2">
            <tr>
                <th>Cod accessoriu</th><td><input type="text" class="edit" name="cod_acc" value="{{accessory[0]}}" disabled></td>
            </tr>
            <tr>
                <th>Cod furnizor</th><td><input type="text" class="edit" name="cod_supp" value="{{accessory[1]}}"disabled></td>
            </tr>
            <tr>
                <th>Descriere</th><td><input type="text" class="edit" name="description" value="{{accessory[2]}}"disabled></td>
            </tr>
            <tr>
                <th>Furnizor</th><td><input type="text" class="edit" name="supplier" value="{{accessory[3]}}"disabled></td>
            </tr>
            <tr>
                <td><button class="foot_but2" onclick="window.location.href='/accessories/'">Inapoi la accesorii</button></td>
            </tr>
        </table>
        {% else %}
        <form class="fo" action="/accessories/new/save/" method="post" id="acc_form" onsubmit="return validation2()">
            <table id="database_table">
                <tr>
                    <th>Cod accessoriu</th><td><input type="text" class="edit" name="cod_acc" id="cod_acc" value="{{accessory[0]}}"></td>
                    <td><div id="answer_cod_acc" class="color-red"></div></td>
                </tr>
                <tr>
                    <th>Cod furnizor</th><td><input type="text" class="edit" name="cod_supp" id="cod_supp" value="{{accessory[1]}}"></td>
                    <td><div id="answer_cod_supp" class="color-red"></div></td>
                </tr>
                <tr>
                    <th>Descriere</th><td><input type="text" class="edit" name="description" id="description" value="{{accessory[2]}}"></td>
                    <td><div id="answer_description" class="color-red"></div></td>
                </tr>
                <tr>
                    <th>Furnizor</th>
                    <td><select class="supp_acc" name="supplier" id="select_supp" onchange="change_supp_id()">
                            <option selected></option>
                            {% for i in suppliers %}
                                <option value="{{ i[1] }}">{{ i[0] }}</option>
                            {% endfor %}
                        </select></td>
                    <td><div id="answer_select_supp" class="color-red"></div></td>
                </tr>
                <tr>
                    <td><input type="hidden" id="supp_id" class="edit" name="supp_id"></td>
                </tr>
                <script>
                    document.getElementById('supp_id').value = document.getElementById('select_supp').value;
                    function change_supp_id() {
                        document.getElementById('supp_id').value = document.getElementById('select_supp').value;
                        }
                </script>
                <tr>
                    <td><button type="button" class="foot_but2" onclick="window.location.href='/accessories/'">Inapoi la accesorii</button></td>
                    <td><button type="reset" class="foot_but">Reseteaza</button><button type="submit" class="foot_but">Salveaza</button></td>
                </tr>
            </table>
            <script src="{{ url_for('static', filename='valid.js') }}"></script>
        </form>
        {% endif %}
    </div>

{% endblock %}

{% block footer %}
{% endblock %}