body {
    background-color: #FFFFE0;
}
.head {
    background-color: #FF6347;
    height: 150px
}

.div_head {
    font-size: 50px;
    padding-top: 25px;
    margin-left: 50px;
    font-family: Candara;
    color: #000;
}

.div_head_2 {
    font-size: 20px;
    margin-top: 0px;
    margin-left: 50px;
    font-family: Candara;
    color: #000;
}

.title {
    margin: auto;
    text-align: left;
    font-family: Candara;
    font-size: 30px;
    padding: 10px;
    padding-top: 50px;
    color: #000;
    font-weight: bold;
}

.title2 {
    margin: auto;
    text-align: left;
    font-family: Candara;
    font-size: 23px;
    padding: 20px;
    color: #000;
    font-weight: bold;
}

.text {
    margin: auto;
    text-align: left;
    font-family: Candara;
    font-size: 17px;
    padding: 10px;
    color: #000;
    vertical_align: top;
}

.base {
    margin-left: auto;
    margin-right: auto;
    border-style: no;
    width: 100vw;
}

.td_pic {
    padding: 25px;
    text-align: center;
}

.menu {
    width: 5vw;
}

.content {
    vertical-align: top;
}

.title2 {
    margin: auto;
    text-align: center;
    font-family: Candara;
    font-size: 25px;
    padding: 20px;
    color: #000;
    font-weight: bold;
}

.under_photo {
    margin: auto;
    text-align: left;
    font-family: Candara;
    font-size: 17px;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
    color: #000;
}

.portfolio {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
