{% extends "layout.html" %}

{% block title %}
    Students
{% endblock %}

{% block content %}
    <div id="subtitle">Elevii clasei {{ cl }}</div>
        {% if cl not in all_cl %}
                <div id="inex">Clasa inexistenta</div>
        {% else %}
            <table id="stud">
                <tr>
                    <th>Nume</th><th>Note</th>
                </tr>
                {% for i in students %}
                    {% if i[3] == cl %}
                        <tr>
                            <td>{{i[1]}} {{i[2]}}</td>
                        <td>{% for j in stud_grades %}
                                {% if i[0] == j[1] %}
                                {{j[0]}},
                                {% endif %}
                            {% endfor %}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% endif %}
    <hr>
    <a href="/students/">Lista elevi</a>
{% endblock %}