{% extends "layout.html" %}

{% block title %}
    Students
{% endblock %}

{% block content %}
    <div id="subtitle">Rezultate cautarii</div>
    {% set counter = [] %}
    {% for i in students %}
        {% for j in i %}
            {% for s in search %}
                {% if (j | string()).lower() == s %}
                    {% if i[0] not in counter %}
                        {% if counter.append(i[0]) %}{% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    {% if counter == [] %}
        <div id="inex">Cautare fara succes</div>
    {% else %}
        {% for k in counter %}
            {% for i in students %}
                {% if i[0] == k %}
                    <table id="stud">
                    <tr>
                            <th class="search1">{{i[1]}} {{i[2]}}</th><td class="search2">{{i[3]}}</td>
                        </tr>
                    </table>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    <hr>
    <a href="/students/">Lista elevi</a>
{% endblock %}