{% extends "layout.html" %}

{% block title %}
    Students
{% endblock %}

{% block content %}
    <div id="subtitle">Lista elevi</div>
    <table>
        <tr>
            <th>Nume</th><th>Clasa</th>
        </tr>
        {% for i in students %}
            <tr>
                <td><a href="/students/{{i[0]}}/">{{i[1]}} {{i[2]}}</a></td>
                <td><a href="/class/{{i[3]}}/">{{i[3]}}</a></td>
            </tr>
        {% endfor %}
    </table>
    <hr>
    <form action="/search" method="GET">
        <input type="text" name="search" placeholder="Search">
        <input type="submit" name="Submit">
    </form>
{% endblock %}