{% extends "layout.html" %}

{% block title %}
    Students
{% endblock %}

{% block content %}
    <div id="subtitle">Date elevi</div>
        {% if (sid | int) not in all_students %}
                <div id="inex">Elev inexistent</div>
        {% else %}
            <table id="stud">
                {% for i in students %}
                    {% if i[0] == (sid | int) %}
                        <tr>
                            <th>Nume</th><td>{{i[1]}}</td>
                        </tr>
                        <tr>
                            <th>Prenume</th><td>{{i[2]}}</td>
                        </tr>
                        <tr>
                            <th>Clasa</th><td>{{i[3]}}</td>
                        </tr>
                        <tr>
                            <th>Note</th>
                                <td>{% for j in stud_grades %}
                                        {% if i[0] == j[1] %}
                                        {{j[0]}},
                                        {% endif %}
                                    {% endfor %}</td>
                        </tr>
                        <tr>
                            <th>Media</th><td>{{med}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% endif %}
    <hr>
    <a href="/students/">Lista elevi</a>
{% endblock %}