div {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: bold;
}

table, td, th {
    padding:18px;
    border: 2px solid #a9a9a9;
}

td, th {
    min-width: 80px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-collapse: collapse;
}

.modify {
    width: 100px;
    padding: 5px;
    background-color: #295dac;
    border-color: #295dac;
    color:white;
    cursor: pointer;
}

.dlt {
    width: 100px;
    padding: 5px;
    background-color: #dc143c;
    border-color: #dc143c;
    color:white;
    cursor: pointer;
}

a:link {
    color: #008000;
    text-decoration: none;
}

a:hover {
    color: #ff7f50;
    text-decoration: underline;
    font-weight: bold;
}



