{% extends "layout.html" %}

{% block title %}
    Students
{% endblock %}

{% block content %}
    <div id="subtitle">Date elevi</div>
        {% if student %}
            <table id="stud">
                {% for k in student.items() %}
                    <tr>
                        <th>Nume</th><td>{{k['lname']}}</td>
                    </tr>
                    <tr>
                        <th>Prenume</th><td>{{k['fname']}}</td>
                    </tr>
                    <tr>
                        <th>Clasa</th><td>{{k['class']}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div id="inex">Elev inexistent</div>
        {% endif %}
    <hr>
    <a href="/students/">Lista elevi</a>
{% endblock %}