<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="home.css" />
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="center">
        <div class="title">Under construction</div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
</body>
</html>