body {
    background-color: #76ECA9;
    display: grid;
    grid-template-columns: 4fr 19fr;
    grid-template-rows:  1fr auto;
    grid-template-areas:
        "header header"
        "nav div"
        "nav footer";
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#header{
    grid-area: header;
    background-color: blue;
    height: 10vh;
    font-family: Candara;
    font-size: 50px;
    padding: auto;
}

body > nav{
    grid-area: nav;
    with: 15vw;
    margin: auto;
    padding: auto;
    height: 90vh;
}

#div{
    grid-area: div;
    background-color: white;
    margin: 5px;
    padding: 5px;
    min-height: 79vh;
    position: relative;
    overflow: auto;
    max-height: 79vh;
}

#footer{
    grid-area: footer;
    background-color: white;
    height: 7vh;
    width: 81.6vw;
    margin: 10px;
    padding: 5px;
    bottom: 0;
    position: fixed;
    left: 17.1vw;
}

.vertical-nav ul {
    list-style: none;
}

.vertical-nav ul li a {
    text-decoration: none;
    display: block;
    width: 12vw;
    background: white;
    color: black;
    box-shadow: 2px 2px 2px cadetblue;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
}

.vertical-nav ul a:hover {
    background-color: #ccc;
}

#header_table {
    width: 100vw
}

#text_header {
    max-with: 50vw;
    font-family: Candara;
    text-align: left;
    color: white;
    vertical-align: top;
    padding: 10px;
}

#logo {
    with: 50vw;
    text-align: right;
    vertical-align: center;
}

.menu {
    text-align: center;
    width: 15vw;
    font-family: Candara;
    font-size: 15px;
    font-weight: bold;
}

#h_div {
    margin: auto;
    width: 20%;
    padding: 10px;
    padding-top: 50px;
    text-align: center;
}

#h_button {
    text-decoration: none;
    display: block;
    width: 12vw;
    background: #76ECA9;
    color: black;
    box-shadow: 2px 2px 2px cadetblue;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
    font-family: Candara;
    font-weight: bold;
    text-align: center;
}

#h_button:hover {
    background-color: #ccc;
}

#database_div {
    margin: auto;
    padding: 10px;
    text-align: left;
}

#database_table tr, th, td{
    font-family: Candara;
    padding: 5px;
}

.text-center {
    font-family: Candara;
    padding-left: 20px;
}

.title {
     font-family: Candara;
     margin: 20px;
     padding-left: 20px;
     font-weight: bold;
}

.form_supp {
    width: 10vw;
    height: 3vh;
    margin: 5px;
    margin-left: 35px;
    padding: 2px;
    font-family: Candara;
    font-size: 15px;
}

.row {
    margin: 20px;
    padding-left: 10px;
}

.form-control {
    text-align: right;
    width: 10vw;
    height: 2vh;
    margin: 5px;
    padding: 2px;
    font-family: Candara;
    font-size: 15px;
}

.sh {
    width: 20vw;
    padding: 5px;
    margin: 10px;
}

.foot_but {
    width: 5vw;
    height: 3vh;
    background-color: #76ECA9;
    box-shadow: 2px 2px 2px cadetblue;
    border-radius: 8px;
    font-family: Candara;
    cursor: pointer;
    margin: 10px;
}

.foot_but:hover {
    background-color: #ccc;
}

.fo {
    display: inline-block;
}

.supp_list {
    width: 10vw;
    height: 3vh;
    margin: 5px;
    margin-left: 35px;
    padding: 2px;
    font-family: Candara;
    font-size: 15px;
}

.edit {
    width: 20vw;
    height: 5vh;
    margin: 5px;
    padding:5 px;
    font-family: Candara;
    font-size: 15px;
}

.foot_but2 {
    width: 10vw;
    height: 3vh;
    background-color: #76ECA9;
    box-shadow: 2px 2px 2px cadetblue;
    border-radius: 8px;
    font-family: Candara;
    cursor: pointer;
}

.foot_but2:hover {
    background-color: #ccc;
}

.foot_but3 {
    width: 5vw;
    height: 3vh;
    background-color: #76ECA9;
    box-shadow: 2px 2px 2px cadetblue;
    border-radius: 8px;
    font-family: Candara;
    cursor: pointer;
    margin: 10px;
    margin-top:2px;
    margin-bottom: 2px;
}

.foot_but3:hover {
    background-color: #ccc;
}

.supp_acc {
    width: 20.5vw;
    height: 5vh;
    margin: 5px;
    padding:5 px;
    font-family: Candara;
    font-size: 15px;
}

.acc_list {
    width: 10.5vw;
    height: 3vh;
    margin: 5px;
    padding: 2px;
    font-family: Candara;
    font-size: 15px;
}

#remove {
    width: 5vw;
    height: 3vh;
    background-color: #76ECA9;
    box-shadow: 2px 2px 2px cadetblue;
    border-radius: 8px;
    font-family: Candara;
    cursor: pointer;
    margin: 10px;
    margin-top:2px;
    margin-bottom: 2px;
}

#remove:hover {
    background-color: #ccc;
}

.ord {
    width: 12vw;
    margin: 3px;
}

.ord2 {
    padding-left: 2vw;
}

.ord3 {
    text-align: center;;
}

#t_h{
    font-family: Candara;
    font-size: 15px;
    font-weight: bold;
}

#ord_h {
    background-color: #76ECA9;
    border-radius: 8px;
    width: 100%;
}

#success {
    font-family: Candara;
    font-size: 30px;
    font_weight: bold;
    text-align: center;
    margin-top: 10vh;
    color: #6ad498;
}

.color-red{
    color: red;
    font-family: Candara;
}

.note {
    width: 30vw;
    height: 10vh;
    padding: 5px;
    margin: 10px;
    font-family: Candara;
    color: black;
    font-size: 15px;
}

#answer_supp_ord {
    padding-left: 50px;
}

.title1{
    font-family: Candara;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    margin-left: 15px;
}

#database_table_home tr, th, td{
    font-family: Candara;
    padding: 5px;
    width: 15vw;
}

#database_table_home {
    min-width: 81vw;
}

.acc_list: {
    border: 1px solid rgba(255, 0, 0, 0.7);
    box-shadow: 0px 0px 10px orangered;
}

.form-control: {
    border: 1px solid rgba(255, 0, 0, 0.7);
    box-shadow: 0px 0px 10px orangered;
}

#answer_acc_qty {
    align: left;
}
