{% extends "layout.html" %}

{% block title %}KBR Accessories{% endblock %}

{% block content %}
<style>
    .vertical-nav ul a.menu_accessories {
        background-color: blue;
        color: white;
    }
</style>
    <div id="database_div">
        {% if accessory %}
        <form class="fo" action="/accessories/save/" method="post">
            <table id="database_table">
                <tr>
                    <th>Cod accessoriu</th><td><input type="text" class="edit" name="cod_acc" value="{{accessory[0]}}"></td>
                </tr>
                <tr>
                    <th>Cod furnizor</th><td><input type="text" class="edit" name="cod_supp" value="{{accessory[1]}}"></td>
                </tr>
                <tr>
                    <th>Descriere</th><td><input type="text" class="edit" name="description" value="{{accessory[2]}}"></td>
                </tr>
                <tr>
                    <th>Furnizor</th>
                    <td><select class="supp_acc" name="supplier" id="select_supp" required onchange="change_supp_id()">
                            {% for i in suppliers %}
                                {% if i[1]==accessory[5] %}
                                    <option selected value="{{ i[1] }}">{{ i[0] }}</option>
                                {% else %}
                                    <option value="{{ i[1] }}">{{ i[0] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select></td>
                </tr>
                <tr>
                    <td><input type="hidden" id="supp_id" class="edit" name="supp_id"></td>
                    <td><input type="hidden" id="id" class="edit" name="id" value="{{accessory[4]}}"></td>
                </tr>
                <script>
                    document.getElementById('supp_id').value = document.getElementById('select_supp').value;
                    function change_supp_id() {
                        document.getElementById('supp_id').value = document.getElementById('select_supp').value;
                        }
                </script>
                <tr>
                    <td><button type="button" class="foot_but2" onclick="window.location.href='/accessories/'">Inapoi la accesorii</button></td>
                    <td><button type="reset" class="foot_but">Reseteaza</button><button type="submit" class="foot_but">Salveaza</button></td>
                </tr>
            </table>
        </form>
        {% else %}
           <table id="database_table2">
                <tr>
                    <th>Cod accessoriu</th><td><input type="text" class="edit" name="cod_acc" value="{{updated_accessory[0]}}" disabled></td>
                </tr>
                <tr>
                    <th>Cod furnizor</th><td><input type="text" class="edit" name="cod_supp" value="{{updated_accessory[1]}}"disabled></td>
                </tr>
                <tr>
                    <th>Descriere</th><td><input type="text" class="edit" name="description" value="{{updated_accessory[2]}}"disabled></td>
                </tr>
                <tr>
                    <th>Furnizor</th><td><input type="text" class="edit" name="supplier" value="{{updated_accessory[3]}}"disabled></td>
                </tr>
                <tr>
                    <td><button class="foot_but2" onclick="window.location.href='/accessories/'">Inapoi la accesorii</button></td>
                </tr>
            </table>
        {% endif %}
    </div>

{% endblock %}

{% block footer %}
{% endblock %}