{% extends "layout.html" %}

{% block title %}KBR Orders{% endblock %}

{% block content %}
<style>
    .vertical-nav ul a.menu_new_order {
        background-color: blue;
        color: white;
    }
</style>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<div class="container">
    <form action="/comanda_noua/furnizor/" method="post" class="insert-form">
        <h1 class="text-center">Creeaza o comanda noua</h1>
        <hr>
        {% if def_supplier %}
            <div class="title">Alege furnizorul</div>
            <input type="text" class="form_supp" name="supplier" placeholder={{def_supplier[0]}} disabled>
        {% else %}
            <div class="title">Alege furnizorul</div>
            <table>
                <tr>
                    <td>
                        <select class="supp_list" name="supplier" id="select_supp" required>
                            <option> Cauta furnizorul </option>
                            {% for i in supp %}
                                <option value="{{i[1]}}">{{ i[0] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input class="foot_but3" type="submit" value="Alege">
                    </td>
                </tr>
            </table>
        {% endif %}
    </form>
    {% if def_supplier %}
    <form action="/comanda_noua/new_order_done/" method="post" class="insert-form">
        <div class="input-field">
             <input id="supp_id" type="hidden" class="edit" name="supp_id" value="{{def_supplier[4]}}">
            <div class="table-responsive">
                <table class="table table-bordered text-center" id="table_field">
                    <tr>
                        <th>Cod accesoriu</th>
                        <th>Cantitate</th>
                        <th>Sterge</th>
                    </tr>
                    <tr>
                        <td><select class="acc_list" name="accessories[]" id="select_acc" required onchange="change_acc_id()">
                            <option> Selecteaza accesoriul </option>
                            {% for i in accessories %}
                                <option value="{{i[3]}}">{{ i[0] }}</option>
                            {% endfor %}
                        </select></td>
                        <td><input type="text" class="form-control" name="qty[]" required></td>
                        <td><input class="btn btn-danger" name="remove" id="remove" value="Sterge" type="button"></td>
                    </tr>
                </table>
                <div class="row">
                    <table>
                        <tr>
                            <th>
                                <div class="col-12 text-right">
                                    <input type="button" name="add" id="add" value="Adauga" class="foot_but3">
                                </div>
                            </th>
                            <th>
                                <div class="col-12 m-3">
                                    <input type="submit" name="save" id="save" value="Salveaza" class="foot_but3">
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
var cod_html = '<tr>'+
    '{% if def_supplier %}'+
    '<td><select class="acc_list" name="accessories[]" required>'+
        '<option> Selecteaza accesoriul </option>'+
        '{% for i in accessories %}'+
            '<option value="{{i[3]}}">{{i[0]}}</option>'+
        '{% endfor %}'+
    '</select></td>'+
    '<td><input type="text" class="form-control" name="qty[]" required></td>'+
    '<td><input class="btn btn-danger" name="remove" id="remove" value="Sterge" type="button"></td>'+
    '{% endif %}'+
    '</tr>';
</script>
<script type="text/javascript" src="{{ url_for('static', filename='KBR_orders.js') }}"></script>
{% endif %}
{% endblock %}

{% block footer %}

{% endblock %}