{% extends "layout.html" %}

{% block title %}KBR Orders{% endblock %}

{% block content %}
    <div id="database_div">
        <table id="database_table">
            <tr>
                <th>Cod accesoriu</th><th>Descriere</th><th>Nume furnizor</th><th>Cod furnizor</th>
            </tr>
            {% for i in accessories %}
                <tr>
                    <td>{{i[0]}}</td><td>{{i[1]}}</td><td>{{i[2]}}</td><td>{{i[3]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block footer %}
<form class="fo" action="/furnizori" method="GET">
    <input id="sh" type="text" name="search" placeholder="Search">
    <input class="foot_but" type="submit" name="search" value="Cauta">
</form>
<form class="fo">
    <input class="foot_but" type="button" name="search" value="Adauga">
</form>
<form class="fo">
    <input class="foot_but" type="submit" name="search" value="Modifica">
</form>
{% endblock %}