{% extends "layout.html" %}

{% block title %}KBR Orders{% endblock %}

{% block content %}
<style>
    .vertical-nav ul a.menu_orders {
        background-color: blue;
        color: white;
    }
</style>
    <div id="database_div">
        <table id="database_table">
            <tr>
                <th class="ord">Numar comada</th><th class="ord">Furnizor</th><th class="ord">Data</th>
            </tr>
            {% if orders %}
                {% for i in orders %}
                    <tr>
                        <td class="ord2">{{i[0]}}</td><td>{{i[1]}}</td><td>{{i[2]}}</td>
                        <td><button class="foot_but3" onclick="window.location.href='/comenzi/{{i[3]}}/'">Vizualizeaza</button></td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for i in search_orders %}
                    <tr>
                        <td>{{i[0]}}</td><td>{{i[1]}}</td><td>{{i[2]}}</td>
                        <td><button class="foot_but3" onclick="window.location.href='/comenzi/{{i[5]}}/'">Vizualizeaza</button></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock %}

{% block footer %}
<form class="fo" action="/comenzi/search/" method="POST">
    {% if search %}
    <input class="sh" type="text" name="search" placeholder={{search}}>
    {% else %}
    <input class="sh" type="text" name="search" placeholder="Search">
    {% endif %}
    <input class="foot_but" type="submit" name="search" value="Cauta">
</form>
{% endblock %}