body {
    background-color: #000;
}

.loader {
    margin: auto;
    align-items: center;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #FFEA00;
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.title {
    margin: auto;
    text-align: center;
    font-family: Candara;
    font-size: 50px;
    padding: 100px;
    color: #FFEA00;
}

.base {
    margin-left: auto;
    margin-right: auto;
    border-style: no;
    width: 100vw;
}

.td_pic {
    text-align: center;
}